<div class="navbar navbar-expand-md navbar-light bg-light shadow-sm">
    <div class="container-fluid">
        <a
            class="navbar-brand focus-ring"
            [routerLink]="'.'">
            <img
                src="../assets/images/logo-horizontal.svg"
                alt="Lee County Public Library" />
        </a>

        <div id="navigation">
            <ul class="navbar-nav ms-auto">
                @if ($user()) {
                <li class="nav-item">
                    <a
                        class="nav-link d-flex align-items-center"
                        [routerLink]="profileLink"
                        data-testId="userProfileLink">
                        <fa-icon
                            [icon]="circleUserIcon"
                            class="fs-3 me-2"></fa-icon>
                        <span>{{ $user().first_name || "Guest" }}</span>
                    </a>
                </li>

                <li>
                    <button
                        type="button"
                        class="nav-link"
                        (click)="logout()">
                        Logout
                    </button>
                </li>
                }
            </ul>
        </div>
    </div>
</div>
