@use "../../../styles/variables" as variables;
@use "bootstrap/scss/bootstrap-grid" as grid;

.sidenav {
    a {
        color: variables.$denim-200;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        padding: 0.75rem;
        text-align: center;
        text-transform: uppercase;

        .ng-fa-icon {
            font-size: 1.15rem;
        }

        span {
            font-size: 0.875rem;
        }

        &:hover {
            background-color: variables.$denim-700;
            color: variables.$denim-100;
        }
    }

    @include grid.media-breakpoint-up(lg) {
        height: 100%;
        padding: 1rem 0 !important;
        width: 200px;
        align-items: start !important;

        a {
            padding: 1rem 0.75rem;

            .ng-fa-icon {
                font-size: 1.5rem;
            }

            span {
                font-size: 1rem;
            }
        }
    }
}
