@import "../../../styles/variables";

.sidenav {
    padding: 0 1rem;

    ul.navbar-nav {
        li {
            flex: 25% 1 1;
            .nav-link {
                color: $denim-100;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-decoration: none;
                padding: 0.75rem;
                text-align: center;
                text-transform: uppercase;

                .ng-fa-icon {
                    font-size: 1.15rem;
                }

                span {
                    font-size: 0.875rem;
                }

                &:hover {
                    background-color: $denim-700;
                    color: $denim-50;
                }
            }
        }
    }
}
