@use "sass:color";

// BS SETTINGS
$enable-shadows: true;

// CUSTOM COLRS
$denim: #415976;
$denim-10: lighten($denim, 62%);
$denim-50: lighten($denim, 57%);
$denim-100: lighten($denim, 43%);
$denim-200: lighten($denim, 30%);
$denim-300: lighten($denim, 20%);
$denim-400: lighten($denim, 10%);
$denim-500: $denim;
$denim-600: darken($denim, 10%);
$denim-700: darken($denim, 15%);
$denim-800: darken($denim, 20%);
$denim-900: darken($denim, 25%);
$denims: (
    "denim-10": $denim-10,
    "denim-50": $denim-50,
    "denim-100": $denim-100,
    "denim-200": $denim-200,
    "denim-300": $denim-300,
    "denim-400": $denim-400,
    "denim-500": $denim-500,
    "denim-600": $denim-600,
    "denim-700": $denim-700,
    "denim-800": $denim-800,
    "denim-900": $denim-900,
);
// @debug $denims;
// ("denim-10": #f5f7f9, "denim-50": #e8ecf2, "denim-100": #bac8d9, "denim-200": #8fa6c1, "denim-300": #6e8baf, "denim-400": #537297, "denim-500": #415976, "denim-600": #2f4055, "denim-700": #263445, "denim-800": #1d2734, "denim-900": #141b24)

// COLORS
$primary: $denim-600;
$secondary: $denim-300;
$light: $denim-50;
$dark: $denim-800;
$color-contrast-dark: $denim-900;
$color-contrast-light: $denim-10;

$link-color: $denim-600;
$headings-color: $denim-500;
$body-color: $denim-600;
$body-bg: $denim-10;

// FONTS
$font-family-sans-serif: "Montserrat", sans-serif;
$font-family-base: $font-family-sans-serif;

// ANIMATIONS
$spinner-animation-speed: 1.4s;

// FOCUS STYLE
$focus-ring-width: 0.25rem;
$focus-ring-opacity: 0.25;
$focus-ring-blur: 0;
$focus-ring-color: rgba($primary, $focus-ring-opacity);
$focus-ring-color-light: rgba($light, 0.4);
$focus-ring-box-shadow: 0 0 $focus-ring-blur $focus-ring-width $focus-ring-color;
$focus-ring-box-shadow-light: 0 0 $focus-ring-blur $focus-ring-width $focus-ring-color-light;

:root {
}
